@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




input{
padding: 5px 8px!important;

}

input::placeholder{
    font-size: 11px;
}

label{
    font-size: 12px!important;
 
}

.takeoff {
    animation: takeoff 16s linear infinite;
}

.flight {
    animation: flight 10s linear infinite;
    animation-delay: 8s;
}

@keyframes takeoff {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(80vw, -80vh);
    }
}

@keyframes flight {
    0% {
        transform: translateX(0vw);
    }
    100%{
        transform: translateX(100vw);
    }
}   

@media (min-width:1024px) {
    .flight{
        animation: flight 18s linear infinite;
        animation-delay: 8s;
    }
}





